{% extends 'components/index.twig' %} {% block body %}

<body>

    <!---->
    <section class="bg-half-260 agency-wrapper d-table w-100" id="home">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 order-1 order-md-2">
                    <div class="title-heading mt-4 ms-lg-5 ps-lg-5">
                        <h1 class="heading mb-3"><span class="text-primary">Solar</span> Card
                        </h1>
                        <p class="para-desc text-muted">Digital payments with crypto debit cards and IBAN accounts combined with concierge services.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 order-2 order-md-1 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <img src="assets/images/solarpay/mockup.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <!---->
    <div id="platform"></div>

    <section class="section pt-0 bg-light">
        <div class="position-relative">
            <div class="shape overflow-hidden text-light">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>

        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mt-100 mb-4 pb-2">
                        <h4 class="title mb-4">Crypto and fiat banking for <span class="text-primary">everyone</span>.</h4>
                        <p class="para-desc mx-auto text-muted mb-0">All your digital finance needs in one easy to use mobile app.</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card pricing pricing-primary business-rate border-0 p-4 rounded-md shadow">
                        <div class="card-body p-0">
                            <span class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg">Cygnus</span>
                            <h2 class="fw-bold mb-0 mt-3">€7.99</h2>
                            <p class="text-muted">Per Month</p>
                            <ul class="list-unstyled pt-3 border-top">
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Crypto Wallet</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>1x Virtual Debit Card</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Dedicated IBAN account</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>USD, EUR, GBP accounts</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>$5000 monthly card load limit</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 Support</li>
                            </ul>

                            <div class="mt-4">
                                <a href="#earlybird">
                                    <div class="d-grid">
                                        <button class="btn btn-secondary">*Get Cygnus</button>
                                        <p class="text-center text-muted mt-2 mb-0">*Expected December 2023</p>
                                    </div>
                                </a>
                                <!--  <p class="text-muted mt-3 mb-0">* Services and licensing provided by Codego and Dokdo.sh</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card pricing pricing-primary business-rate border-0 p-4 rounded-md shadow">
                        <div class="ribbon ribbon-right ribbon-warning overflow-hidden"></div>
                        <div class="card-body p-0">
                            <span class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg">Orion</span>
                            <h2 class="fw-bold mb-0 mt-3">€9.99</h2>
                            <p class="text-muted">Per Month</p>
                            <ul class="list-unstyled pt-3 border-top">
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Crypto Wallet</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>1x Virtual Debit Card</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>1x Plastic Mastercard</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Dedicated IBAN Account</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>USD, EUR, GBP, TRY Accounts</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>$10000 Monthly Card Load Limit</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 Support</li>
                            </ul>

                            <div class="mt-4">
                                <a href="#earlybird">
                                    <div class="d-grid">
                                        <button class="btn btn-secondary">*Get Orion</button>
                                        <p class="text-center text-muted mt-2 mb-0">*Expected December 2023</p>
                                    </div>
                                </a>
                                <!--  <p class="text-muted mt-3 mb-0">* Services and licensing provided by Codego and Dokdo.sh</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card pricing pricing-primary business-rate border-0 p-4 rounded-md shadow">
                        <div class="card-body p-0">
                            <span class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg">Omega</span>
                            <h2 class="fw-bold mb-0 mt-3">€14.99</h2>
                            <p class="text-muted">Per Month</p>
                            <ul class="list-unstyled pt-3 border-top">
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Crypto Wallet</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>1x Virtual Debit Card</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>1x Metal Mastercard</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Dedicated IBAN Account</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>USD, EUR, GBP, TRY, KRW Accounts</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>$50000 Monthly Card Load Limit</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>24/7 Support</li>
                                <li class="h6 text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>VIP Services</li>
                            </ul>

                            <div class="mt-4">
                                <a href="#earlybird">
                                    <div class="d-grid">
                                        <button class="btn btn-secondary">*Get Omega</button>
                                        <p class="text-center text-muted mt-2 mb-0">*Expected December 2023</p>
                                    </div>
                                </a>
                                <!--  <p class="text-muted mt-3 mb-0">* Services and licensing provided by Codego and Dokdo.sh</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
    </section>

    <!---->

</body>
{% endblock %} {% block javascripts %}

<!---->
{% endblock %}
